# Python
__pycache__/
*.pyc
.eggs/

# Jupyter
.ipynb_checkpoints/

# Large data
data/proteome.fasta
data/human_proteome.fasta
data/human_proteome_db.*
data/query_targets.fasta
data/training_positives.csv
data/training_negatives.csv

# Large structure files
results/structures/*.pdb
results/colabfold_input/combined_targets.fasta

# Docking intermediates
results/docking/*.pdbqt
results/blast_human_hits.*

# Models
models/*.pkl
models/*.joblib

# Tools
tools/
/tmp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Snakemake
.snakemake/
logs/

# Keep empty dirs
!data/.gitkeep
!results/.gitkeep
!models/.gitkeep
